@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.title{
  padding-bottom: 30px;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}

.description{
  margin-top: 40px;
  width: 750px;
  line-height: 1.5;
}


